##4. Create a list of your favorite movies and print it. Then, append a new movie to the list and
print the updated list.

In [2]:
list_movieA =["Death wisperer","Thanksgiving","Ghost Mansion"]
list_movie.append(list_movieA)
print(list_movie)

['Parasite', 'Mr Queen', 'Sawariya', 'A Killer Pradox', ['Death wisperer', 'Thanksgiving', 'Ghost Mansion']]

In [ ]:
list_movie = ["Parasite","Mr Queen","Sawariya","A Killer Pradox"]
print(list_movie)

##5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in
the list and print the result.

In [3]:
list_num = [1,2,3,4,5,6,7,8,9,10]
for num in list_num:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
result = 0
for num in list_num:
  result += num
print("Sum of  all numbers is" , result)

Sum of  all numbers is 55

##6. Create a list of mixed data types including strings, integers, and floats and print it. Remove
the first element from the list and print the modified list.

In [5]:
mixed_datatypes = ["Dinesh","Jyoti",4,9,3,5.66,4.64]
print(mixed_datatypes)

['Dinesh', 'Jyoti', 4, 9, 3, 5.66, 4.64]

In [6]:
modified_datatypes = mixed_datatypes.pop(0)
print(modified_datatypes)

Dinesh

##7. Create a tuple containing the names of the days of the week and print it. Access and print
the name of the third day.

In [8]:
days_week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for day in days_week:
    print (day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [10]:
print(days_week[3])

Wednesday

##8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the
tuple and print the result.

In [11]:
colors = ("purple","Pink","magenta")
print(colors)

('purple', 'Pink', 'magenta')

In [12]:
if "magenta" in colors:
    print("magenta")

magenta

##9. Create a dictionary representing the information of a book with keys "title", "author", and
"year" and print it. Update the year of the book and print the updated dictionary.

In [13]:
book = {
    "title":"The House of Mirth",
    "author":"Edith Wharton",
    "year":1905
}
print(book)

{'title': 'The House of Mirth', 'author': 'Edith Wharton', 'year': 1905}

In [14]:
book.update({"year":2020})
print(book)

{'title': 'The House of Mirth', 'author': 'Edith Wharton', 'year': 2020}

##10. Create a dictionary containing the names of fruits as keys and their corresponding colors
as values and print it. Add a new fruit-color pair to the dictionary and print the updated
dictionary.

In [15]:
names = {
    "Mango" : "Yellow",
    "strawberry" : "Red",
    "Guava" : "Green",
}
print(names)

{'Mango': 'Yellow', 'strawberry': 'Red', 'Guava': 'Green'}

In [16]:
names["Blueberry"] = "Blue"
print(names)

{'Mango': 'Yellow', 'strawberry': 'Red', 'Guava': 'Green', 'Blueberry': 'Blue'}

##Create a dictionary representing the population of different cities with keys as city names
and values as population numbers and print it. Remove a city from the dictionary and print
the modified dictionary.

In [19]:
population_cities = {
    "kathmandu":2041578,
    "Bhaktapur":79136,
    "Pokhara":494000,
}
print(population_cities)

{'kathmandu': 2041578, 'Bhaktapur': 79136, 'Pokhara': 494000}

In [20]:
del population_cities["kathmandu"]
print(population_cities)

{'Bhaktapur': 79136, 'Pokhara': 494000}